/* IMAGES */
img {
	display: block;
	width: 100%;
	height: auto;
}
svg {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

header svg {
	margin-top: -1vw;
	width: 100%;


	@include breakpoint(large) {
		margin-top: 0.5vw;
	}
	@include breakpoint(landscape) {
		margin-top: -1.5em;
	}
	@include breakpoint(portrait) {
		margin-top: -2.5em;
		max-height: 5.5em;
	}
	@include breakpoint(mobile) {
		margin-top: -3.25em;
		max-height: 5em;
	}
}
